# Copyright Anton Langhoff
# SPDX-License-Identifier: MIT

SECRET_KEY=IUAr*)uk$MfCF!=PX&em5l7*YICWGz=H
DATABASE_PATH=instance/trendradar.sqlite
UPLOAD_FOLDER=instance/uploads
MAX_CONTENT_LENGTH=8388608

FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
